FrontEnd/FrontEnd/Connected Services/APIDTOFacturas/APIDTOFacturas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MostrarFacturas">
        <s:complexType />
      </s:element>
      <s:element name="MostrarFacturasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarFacturasResult" type="tns:ArrayOfDTO_Factura" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDTO_Factura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTO_Factura" nillable="true" type="tns:DTO_Factura" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_Factura">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FAC_COD" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_RUC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_NOMBRE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_FECHA" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FAC_ESTADO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_CEDULA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_CORREO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_DIRECCION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_SUBTOTAL" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_IVA" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_TOTAL" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="MostrarFacturaPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostrarFacturaPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarFacturaPorIdResult" type="tns:DTO_Factura" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MostrarFacturasSoapIn">
    <wsdl:part name="parameters" element="tns:MostrarFacturas" />
  </wsdl:message>
  <wsdl:message name="MostrarFacturasSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarFacturasResponse" />
  </wsdl:message>
  <wsdl:message name="MostrarFacturaPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:MostrarFacturaPorId" />
  </wsdl:message>
  <wsdl:message name="MostrarFacturaPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarFacturaPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="APIDTOFacturasSoap">
    <wsdl:operation name="MostrarFacturas">
      <wsdl:input message="tns:MostrarFacturasSoapIn" />
      <wsdl:output message="tns:MostrarFacturasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MostrarFacturaPorId">
      <wsdl:input message="tns:MostrarFacturaPorIdSoapIn" />
      <wsdl:output message="tns:MostrarFacturaPorIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIDTOFacturasSoap" type="tns:APIDTOFacturasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarFacturas">
      <soap:operation soapAction="http://tempuri.org/MostrarFacturas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarFacturaPorId">
      <soap:operation soapAction="http://tempuri.org/MostrarFacturaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIDTOFacturasSoap12" type="tns:APIDTOFacturasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarFacturas">
      <soap12:operation soapAction="http://tempuri.org/MostrarFacturas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarFacturaPorId">
      <soap12:operation soapAction="http://tempuri.org/MostrarFacturaPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIDTOFacturas">
    <wsdl:port name="APIDTOFacturasSoap" binding="tns:APIDTOFacturasSoap">
      <soap:address location="http://backendternurainfinita.runasp.net/APIDTOFacturas.asmx" />
    </wsdl:port>
    <wsdl:port name="APIDTOFacturasSoap12" binding="tns:APIDTOFacturasSoap12">
      <soap12:address location="http://backendternurainfinita.runasp.net/APIDTOFacturas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>