FrontEnd/FrontEnd/Connected Services/APIDTOUsuarios/APIDTOUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MostrarUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="MostrarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarUsuariosResult" type="tns:ArrayOfDTO_Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDTO_Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTO_Usuario" nillable="true" type="tns:DTO_Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="US_COD" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="US_USUARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="US_PASS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="US_ROL" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MostrarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:MostrarUsuarios" />
  </wsdl:message>
  <wsdl:message name="MostrarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarUsuariosResponse" />
  </wsdl:message>
  <wsdl:portType name="APIDTOUsuariosSoap">
    <wsdl:operation name="MostrarUsuarios">
      <wsdl:input message="tns:MostrarUsuariosSoapIn" />
      <wsdl:output message="tns:MostrarUsuariosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIDTOUsuariosSoap" type="tns:APIDTOUsuariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarUsuarios">
      <soap:operation soapAction="http://tempuri.org/MostrarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIDTOUsuariosSoap12" type="tns:APIDTOUsuariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/MostrarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIDTOUsuarios">
    <wsdl:port name="APIDTOUsuariosSoap" binding="tns:APIDTOUsuariosSoap">
      <soap:address location="http://backendternurainfinita.runasp.net/APIDTOUsuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="APIDTOUsuariosSoap12" binding="tns:APIDTOUsuariosSoap12">
      <soap12:address location="http://backendternurainfinita.runasp.net/APIDTOUsuarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>