FrontEnd/FrontEnd/Connected Services/APIGestionarUsuarios/APIGestionarUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SeleccionarUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="SeleccionarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarUsuariosResult" type="tns:ArrayOfUSUARIO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUSUARIO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="USUARIO" nillable="true" type="tns:USUARIO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USUARIO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="US_COD" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="US_USUARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="US_PASS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="US_ROL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:ArrayOfCLIENTE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCLIENTE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CLIENTE" nillable="true" type="tns:CLIENTE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CLIENTE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_CLIENTE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="US_COD" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_CEDULA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_TELEFONO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_CORREO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_DIRECCION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="tns:USUARIO" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:ArrayOfFACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFACTURA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FACTURA" nillable="true" type="tns:FACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FACTURA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FAC_COD" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_EMP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CLIENTE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_FECHA" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FAC_ESTADO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_IVA" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_SUBTOTAL" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_TOTAL" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:CLIENTE" />
          <s:element minOccurs="0" maxOccurs="1" name="DETALLE_FACTURA" type="tns:ArrayOfDETALLE_FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="EMPRESA" type="tns:EMPRESA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDETALLE_FACTURA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DETALLE_FACTURA" nillable="true" type="tns:DETALLE_FACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DETALLE_FACTURA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_DET_FAC" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_COD" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_COD" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DTF_CANTIDAD" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DTF_PRECIO" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODUCTO" type="tns:PRODUCTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PRODUCTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PRD_COD" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PRD_DESCRIPCION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_PRECIO" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_STOCK" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DETALLE_FACTURA" type="tns:ArrayOfDETALLE_FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="IMAGEN" type="tns:ArrayOfIMAGEN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIMAGEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IMAGEN" nillable="true" type="tns:IMAGEN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IMAGEN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IMG_ID" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_COD" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="IMG_URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODUCTO" type="tns:PRODUCTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EMPRESA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_EMP" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_RUC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_MISION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_VISION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_TELF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:ArrayOfFACTURA" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioInsertado" type="tns:USUARIO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarUsuarioResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioActualizado" type="tns:USUARIO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SeleccionarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarUsuarios" />
  </wsdl:message>
  <wsdl:message name="SeleccionarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:insertarUsuario" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:insertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="actualizarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="eliminarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="APIGestionarUsuariosSoap">
    <wsdl:operation name="SeleccionarUsuarios">
      <wsdl:input message="tns:SeleccionarUsuariosSoapIn" />
      <wsdl:output message="tns:SeleccionarUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <wsdl:input message="tns:insertarUsuarioSoapIn" />
      <wsdl:output message="tns:insertarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <wsdl:input message="tns:actualizarUsuarioSoapIn" />
      <wsdl:output message="tns:actualizarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <wsdl:input message="tns:eliminarUsuarioSoapIn" />
      <wsdl:output message="tns:eliminarUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIGestionarUsuariosSoap" type="tns:APIGestionarUsuariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarUsuarios">
      <soap:operation soapAction="http://tempuri.org/SeleccionarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/actualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIGestionarUsuariosSoap12" type="tns:APIGestionarUsuariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap12:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <soap12:operation soapAction="http://tempuri.org/actualizarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap12:operation soapAction="http://tempuri.org/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIGestionarUsuarios">
    <wsdl:port name="APIGestionarUsuariosSoap" binding="tns:APIGestionarUsuariosSoap">
      <soap:address location="http://backendternurainfinita.runasp.net/APIGestionarUsuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="APIGestionarUsuariosSoap12" binding="tns:APIGestionarUsuariosSoap12">
      <soap12:address location="http://backendternurainfinita.runasp.net/APIGestionarUsuarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>