FrontEnd/FrontEnd/Connected Services/APIGestionarImagenes/APIGestionarImagenes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SeleccionarImagenes">
        <s:complexType />
      </s:element>
      <s:element name="SeleccionarImagenesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarImagenesResult" type="tns:ArrayOfIMAGEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIMAGEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IMAGEN" nillable="true" type="tns:IMAGEN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IMAGEN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IMG_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_COD" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IMG_URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMG_TIPO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODUCTO" type="tns:PRODUCTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PRODUCTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PRD_COD" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PRD_DESCRIPCION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_PRECIO" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_STOCK" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PRD_ESTADO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DETALLE_FACTURA" type="tns:ArrayOfDETALLE_FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="IMAGEN" type="tns:ArrayOfIMAGEN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDETALLE_FACTURA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DETALLE_FACTURA" nillable="true" type="tns:DETALLE_FACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DETALLE_FACTURA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_DET_FAC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_COD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_COD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DTF_CANTIDAD" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DTF_PRECIO" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DTF_ESTADO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODUCTO" type="tns:PRODUCTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FACTURA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FAC_COD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_EMP" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_CEDULA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_FECHA" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FAC_ESTADO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_SUBTOTAL" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_IVA" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_TOTAL" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:CLIENTE" />
          <s:element minOccurs="0" maxOccurs="1" name="DETALLE_FACTURA" type="tns:ArrayOfDETALLE_FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="EMPRESA" type="tns:EMPRESA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CLIENTE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CLI_CEDULA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="US_COD" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_TELEFONO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_CORREO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_DIRECCION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_ESTADO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="tns:USUARIO" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:ArrayOfFACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USUARIO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="US_COD" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="US_USUARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="US_PASS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="US_ROL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:ArrayOfCLIENTE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCLIENTE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CLIENTE" nillable="true" type="tns:CLIENTE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFACTURA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FACTURA" nillable="true" type="tns:FACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EMPRESA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_EMP" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_RUC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_MISION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_VISION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_TELF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:ArrayOfFACTURA" />
        </s:sequence>
      </s:complexType>
      <s:element name="seleccionarImagenPorIdProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="seleccionarImagenPorIdProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="seleccionarImagenPorIdProductoResult" type="tns:ArrayOfIMAGEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="seleccionarProductoPorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="seleccionarProductoPorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="seleccionarProductoPorIDResult" type="tns:IMAGEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proInsertado" type="tns:IMAGEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proActualizado" type="tns:IMAGEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarImagenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarImagenPorIdProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proActualizado" type="tns:IMAGEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarImagenPorIdProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarImagenPorIdProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarImagenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SeleccionarImagenesSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarImagenes" />
  </wsdl:message>
  <wsdl:message name="SeleccionarImagenesSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarImagenesResponse" />
  </wsdl:message>
  <wsdl:message name="seleccionarImagenPorIdProductoSoapIn">
    <wsdl:part name="parameters" element="tns:seleccionarImagenPorIdProducto" />
  </wsdl:message>
  <wsdl:message name="seleccionarImagenPorIdProductoSoapOut">
    <wsdl:part name="parameters" element="tns:seleccionarImagenPorIdProductoResponse" />
  </wsdl:message>
  <wsdl:message name="seleccionarProductoPorIDSoapIn">
    <wsdl:part name="parameters" element="tns:seleccionarProductoPorID" />
  </wsdl:message>
  <wsdl:message name="seleccionarProductoPorIDSoapOut">
    <wsdl:part name="parameters" element="tns:seleccionarProductoPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="insertarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:insertarProducto" />
  </wsdl:message>
  <wsdl:message name="insertarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:insertarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarImagenSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarImagen" />
  </wsdl:message>
  <wsdl:message name="actualizarImagenSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarImagenResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarImagenPorIdProductoSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarImagenPorIdProducto" />
  </wsdl:message>
  <wsdl:message name="actualizarImagenPorIdProductoSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarImagenPorIdProductoResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarImagenSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarImagen" />
  </wsdl:message>
  <wsdl:message name="eliminarImagenSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarImagenResponse" />
  </wsdl:message>
  <wsdl:portType name="APIGestionarImagenesSoap">
    <wsdl:operation name="SeleccionarImagenes">
      <wsdl:input message="tns:SeleccionarImagenesSoapIn" />
      <wsdl:output message="tns:SeleccionarImagenesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="seleccionarImagenPorIdProducto">
      <wsdl:input message="tns:seleccionarImagenPorIdProductoSoapIn" />
      <wsdl:output message="tns:seleccionarImagenPorIdProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="seleccionarProductoPorID">
      <wsdl:input message="tns:seleccionarProductoPorIDSoapIn" />
      <wsdl:output message="tns:seleccionarProductoPorIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarProducto">
      <wsdl:input message="tns:insertarProductoSoapIn" />
      <wsdl:output message="tns:insertarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarImagen">
      <wsdl:input message="tns:actualizarImagenSoapIn" />
      <wsdl:output message="tns:actualizarImagenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarImagenPorIdProducto">
      <wsdl:input message="tns:actualizarImagenPorIdProductoSoapIn" />
      <wsdl:output message="tns:actualizarImagenPorIdProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarImagen">
      <wsdl:input message="tns:eliminarImagenSoapIn" />
      <wsdl:output message="tns:eliminarImagenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIGestionarImagenesSoap" type="tns:APIGestionarImagenesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarImagenes">
      <soap:operation soapAction="http://tempuri.org/SeleccionarImagenes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seleccionarImagenPorIdProducto">
      <soap:operation soapAction="http://tempuri.org/seleccionarImagenPorIdProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seleccionarProductoPorID">
      <soap:operation soapAction="http://tempuri.org/seleccionarProductoPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarProducto">
      <soap:operation soapAction="http://tempuri.org/insertarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarImagen">
      <soap:operation soapAction="http://tempuri.org/actualizarImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarImagenPorIdProducto">
      <soap:operation soapAction="http://tempuri.org/actualizarImagenPorIdProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarImagen">
      <soap:operation soapAction="http://tempuri.org/eliminarImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIGestionarImagenesSoap12" type="tns:APIGestionarImagenesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarImagenes">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarImagenes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seleccionarImagenPorIdProducto">
      <soap12:operation soapAction="http://tempuri.org/seleccionarImagenPorIdProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seleccionarProductoPorID">
      <soap12:operation soapAction="http://tempuri.org/seleccionarProductoPorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarProducto">
      <soap12:operation soapAction="http://tempuri.org/insertarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarImagen">
      <soap12:operation soapAction="http://tempuri.org/actualizarImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarImagenPorIdProducto">
      <soap12:operation soapAction="http://tempuri.org/actualizarImagenPorIdProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarImagen">
      <soap12:operation soapAction="http://tempuri.org/eliminarImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIGestionarImagenes">
    <wsdl:port name="APIGestionarImagenesSoap" binding="tns:APIGestionarImagenesSoap">
      <soap:address location="http://backendternurainfinita.runasp.net/APIGestionarImagenes.asmx" />
    </wsdl:port>
    <wsdl:port name="APIGestionarImagenesSoap12" binding="tns:APIGestionarImagenesSoap12">
      <soap12:address location="http://backendternurainfinita.runasp.net/APIGestionarImagenes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>