FrontEnd/FrontEnd/Connected Services/APIDTOImagenes/APIDTOImagenes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MostrarImagenes">
        <s:complexType />
      </s:element>
      <s:element name="MostrarImagenesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarImagenesResult" type="tns:ArrayOfDTO_Imagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDTO_Imagen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTO_Imagen" nillable="true" type="tns:DTO_Imagen" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_Imagen">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IMG_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_COD" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IMG_URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMG_TIPO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MostrarImagenPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostrarImagenPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarImagenPorIdResult" type="tns:DTO_Imagen" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MostrarImagenesSoapIn">
    <wsdl:part name="parameters" element="tns:MostrarImagenes" />
  </wsdl:message>
  <wsdl:message name="MostrarImagenesSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarImagenesResponse" />
  </wsdl:message>
  <wsdl:message name="MostrarImagenPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:MostrarImagenPorId" />
  </wsdl:message>
  <wsdl:message name="MostrarImagenPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarImagenPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="APIDTOImagenesSoap">
    <wsdl:operation name="MostrarImagenes">
      <wsdl:input message="tns:MostrarImagenesSoapIn" />
      <wsdl:output message="tns:MostrarImagenesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MostrarImagenPorId">
      <wsdl:input message="tns:MostrarImagenPorIdSoapIn" />
      <wsdl:output message="tns:MostrarImagenPorIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIDTOImagenesSoap" type="tns:APIDTOImagenesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarImagenes">
      <soap:operation soapAction="http://tempuri.org/MostrarImagenes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarImagenPorId">
      <soap:operation soapAction="http://tempuri.org/MostrarImagenPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIDTOImagenesSoap12" type="tns:APIDTOImagenesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarImagenes">
      <soap12:operation soapAction="http://tempuri.org/MostrarImagenes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarImagenPorId">
      <soap12:operation soapAction="http://tempuri.org/MostrarImagenPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIDTOImagenes">
    <wsdl:port name="APIDTOImagenesSoap" binding="tns:APIDTOImagenesSoap">
      <soap:address location="http://backendternurainfinita.runasp.net/APIDTOImagenes.asmx" />
    </wsdl:port>
    <wsdl:port name="APIDTOImagenesSoap12" binding="tns:APIDTOImagenesSoap12">
      <soap12:address location="http://backendternurainfinita.runasp.net/APIDTOImagenes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>