FrontEnd/FrontEnd/Connected Services/APIDTOProductos/APIDTOProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MostrarProductos">
        <s:complexType />
      </s:element>
      <s:element name="MostrarProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarProductosResult" type="tns:ArrayOfDTO_Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDTO_Producto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTO_Producto" nillable="true" type="tns:DTO_Producto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTO_Producto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PRD_COD" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PRD_DESCRIPCION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_PRECIO" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_STOCK" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="IMG_URL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MostrarProductoPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostrarProductoPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarProductoPorIdResult" type="tns:DTO_Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MostrarProductosSoapIn">
    <wsdl:part name="parameters" element="tns:MostrarProductos" />
  </wsdl:message>
  <wsdl:message name="MostrarProductosSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="MostrarProductoPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:MostrarProductoPorId" />
  </wsdl:message>
  <wsdl:message name="MostrarProductoPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarProductoPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="APIDTOProductosSoap">
    <wsdl:operation name="MostrarProductos">
      <wsdl:input message="tns:MostrarProductosSoapIn" />
      <wsdl:output message="tns:MostrarProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MostrarProductoPorId">
      <wsdl:input message="tns:MostrarProductoPorIdSoapIn" />
      <wsdl:output message="tns:MostrarProductoPorIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIDTOProductosSoap" type="tns:APIDTOProductosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarProductos">
      <soap:operation soapAction="http://tempuri.org/MostrarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarProductoPorId">
      <soap:operation soapAction="http://tempuri.org/MostrarProductoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIDTOProductosSoap12" type="tns:APIDTOProductosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarProductos">
      <soap12:operation soapAction="http://tempuri.org/MostrarProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarProductoPorId">
      <soap12:operation soapAction="http://tempuri.org/MostrarProductoPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIDTOProductos">
    <wsdl:port name="APIDTOProductosSoap" binding="tns:APIDTOProductosSoap">
      <soap:address location="http://backendternurainfinita.runasp.net/APIDTOProductos.asmx" />
    </wsdl:port>
    <wsdl:port name="APIDTOProductosSoap12" binding="tns:APIDTOProductosSoap12">
      <soap12:address location="http://backendternurainfinita.runasp.net/APIDTOProductos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>