FrontEnd/FrontEnd/Connected Services/APIGestionarFacturas/APIGestionarFacturas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SeleccionarFacturas">
        <s:complexType />
      </s:element>
      <s:element name="SeleccionarFacturasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarFacturasResult" type="tns:ArrayOfFACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFACTURA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FACTURA" nillable="true" type="tns:FACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FACTURA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FAC_COD" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_EMP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CLIENTE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_FECHA" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FAC_ESTADO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_IVA" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_SUBTOTAL" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_TOTAL" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:CLIENTE" />
          <s:element minOccurs="0" maxOccurs="1" name="DETALLE_FACTURA" type="tns:ArrayOfDETALLE_FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="EMPRESA" type="tns:EMPRESA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CLIENTE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_CLIENTE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="US_COD" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_CEDULA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_TELEFONO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_CORREO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_DIRECCION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="tns:USUARIO" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:ArrayOfFACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USUARIO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="US_COD" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="US_USUARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="US_PASS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="US_ROL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:ArrayOfCLIENTE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCLIENTE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CLIENTE" nillable="true" type="tns:CLIENTE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDETALLE_FACTURA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DETALLE_FACTURA" nillable="true" type="tns:DETALLE_FACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DETALLE_FACTURA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_DET_FAC" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_COD" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_COD" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DTF_CANTIDAD" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DTF_PRECIO" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODUCTO" type="tns:PRODUCTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PRODUCTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PRD_COD" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PRD_DESCRIPCION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_PRECIO" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_STOCK" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DETALLE_FACTURA" type="tns:ArrayOfDETALLE_FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="IMAGEN" type="tns:ArrayOfIMAGEN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIMAGEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IMAGEN" nillable="true" type="tns:IMAGEN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IMAGEN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IMG_ID" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRD_COD" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="IMG_URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODUCTO" type="tns:PRODUCTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EMPRESA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_EMP" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_RUC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_MISION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_VISION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_TELF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:ArrayOfFACTURA" />
        </s:sequence>
      </s:complexType>
      <s:element name="seleccionarFacturaPorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="seleccionarFacturaPorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="seleccionarFacturaPorIDResult" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proInsertado" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarFacturaResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proActualizado" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarFacturaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarFacturaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SeleccionarFacturasSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarFacturas" />
  </wsdl:message>
  <wsdl:message name="SeleccionarFacturasSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarFacturasResponse" />
  </wsdl:message>
  <wsdl:message name="seleccionarFacturaPorIDSoapIn">
    <wsdl:part name="parameters" element="tns:seleccionarFacturaPorID" />
  </wsdl:message>
  <wsdl:message name="seleccionarFacturaPorIDSoapOut">
    <wsdl:part name="parameters" element="tns:seleccionarFacturaPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="insertarFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:insertarFactura" />
  </wsdl:message>
  <wsdl:message name="insertarFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:insertarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarFactura" />
  </wsdl:message>
  <wsdl:message name="actualizarFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarFactura" />
  </wsdl:message>
  <wsdl:message name="eliminarFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarFacturaResponse" />
  </wsdl:message>
  <wsdl:portType name="APIFacturasSoap">
    <wsdl:operation name="SeleccionarFacturas">
      <wsdl:input message="tns:SeleccionarFacturasSoapIn" />
      <wsdl:output message="tns:SeleccionarFacturasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="seleccionarFacturaPorID">
      <wsdl:input message="tns:seleccionarFacturaPorIDSoapIn" />
      <wsdl:output message="tns:seleccionarFacturaPorIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarFactura">
      <wsdl:input message="tns:insertarFacturaSoapIn" />
      <wsdl:output message="tns:insertarFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarFactura">
      <wsdl:input message="tns:actualizarFacturaSoapIn" />
      <wsdl:output message="tns:actualizarFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarFactura">
      <wsdl:input message="tns:eliminarFacturaSoapIn" />
      <wsdl:output message="tns:eliminarFacturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIFacturasSoap" type="tns:APIFacturasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarFacturas">
      <soap:operation soapAction="http://tempuri.org/SeleccionarFacturas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seleccionarFacturaPorID">
      <soap:operation soapAction="http://tempuri.org/seleccionarFacturaPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarFactura">
      <soap:operation soapAction="http://tempuri.org/insertarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarFactura">
      <soap:operation soapAction="http://tempuri.org/actualizarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarFactura">
      <soap:operation soapAction="http://tempuri.org/eliminarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIFacturasSoap12" type="tns:APIFacturasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarFacturas">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarFacturas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seleccionarFacturaPorID">
      <soap12:operation soapAction="http://tempuri.org/seleccionarFacturaPorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarFactura">
      <soap12:operation soapAction="http://tempuri.org/insertarFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarFactura">
      <soap12:operation soapAction="http://tempuri.org/actualizarFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarFactura">
      <soap12:operation soapAction="http://tempuri.org/eliminarFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIFacturas">
    <wsdl:port name="APIFacturasSoap" binding="tns:APIFacturasSoap">
      <soap:address location="http://backendternurainfinita.runasp.net/APIGestionarFacturas.asmx" />
    </wsdl:port>
    <wsdl:port name="APIFacturasSoap12" binding="tns:APIFacturasSoap12">
      <soap12:address location="http://backendternurainfinita.runasp.net/APIGestionarFacturas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>